.btn{
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.btn-wrapper{

}

.header{

    .btn{
        padding: 0 0 1rem 0;
    }
    &:hover{
        .tab{
            background-color: #fff08b;
        }
    }
}

.primary-btn{
    background-color: var(--common-yellow);
    color: white;
    border-bottom-right-radius: 0.5rem;
    font-size: 0.8rem;
    width: max-content;
    padding: 0.8rem 1rem;
}

.secondary-btn{
    background-color: transparent;
    width: max-content;
    color: black;
}

.tertiary-btn{
    background-color: transparent;
    width: max-content;
    color: #888888;
    font-size: 0.8rem;
    padding: 0.8rem 0rem;
}

.tab{
    min-width: max-content;
    height: 0.6rem;
}

.active-tab{
    background-color: #ffdd00;
}