.tab-button-wrapper{
    display: flex;
    column-gap: 10px;
}

.sub-head-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box{
    width: 20rem;
    height: 50px;
    color: var(--badge-blue);
    padding: 8px 8px 8px 4rem;
    border-radius: 5px;
    border: 1px solid var(--border-blue);
}

::placeholder{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--button-blue);
}

.search-icon{
    position: absolute;
    font-size: 35px;
    top: 14px;
    left: 1rem;
}