main{
    width: 82.4%;
    margin: auto;
    padding: 3rem 0;

    h5,p{
        margin: 0;
    }

    h5{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    p{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .card-holder{
        display: flex;
        column-gap: 1rem;
        justify-content: space-between;
    }
}

