.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem 4rem;
}

.img-holder{
    width: 8rem;
    height: 2.2rem;
}

.nav-button-holder{
    display: flex;
    column-gap: 3.1rem;
}

